<header class="header">

    <a class="img-wrapper" routerLink='/'> 
        <img src="https://image.freepik.com/free-vector/flame-ball-billiard-game-logo-symbol-team_7443-15.jpg">
    </a>

    <nav class="navigation">
        <ul>
            <li>
                <a routerLink="./ball-game">Ball Game</a>
            </li>
            <li>
                <a routerLink="./colorful">Colorful</a>
            </li>
            <li>
                <a routerLink="./add-items-in-list">Add-Items-In-List</a>
            </li>
            <li>
                <a routerLink="./images-demo">Images-Demo</a>
            </li>

        </ul>
    </nav>

    <div class="exit" > Exit</div>


</header>